# command
alias l="ls -lA"
alias ls="ls -FG"
alias ll="ls -alFG"

# git
alias ggn="git grep -n "
alias ggni="git grep -n -i "

# shortcut
alias memo="ruby $HOME/tools/shortcut/memo.rb"
alias sound="afplay /System/Library/Sounds/Submarine.aiff"

# move
alias vplug="cd $HOME/.vim/pack/dist/start"

