# vimのプラグイン
.vim/pack/dist/start/*
.vim/pack/dist/opt/*

!.vim/pack/dist/start/.gitkeep
!.vim/pack/dist/opt/.gitkeep
!.vim/pack/dist/start/vplug.sh

.vim/colors/*
.vim/postfix-template/*
.vim/.netrwhist
.vim/dadbod-ui/
!.vim/dadbod-ui/.gitkeep

.DS_Store
